@model IEnumerable<Album>
@{
    ViewData["Title"] = "AlbumsByArtist";
}
<h2>Here is the list of the Albums</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>AlbumId</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Album e in Model)
        {
            <tr>
                <td>@e.AlbumId</td>
                <td>@e.Title</td>

            </tr>
        }
    </tbody>
</table>

